<p>Delivered: {{delivered}}</p>
<p>Amount {{amount}}</p>
<p>Bill {{bill}}</p>
<p>OA: {{dates.order.date}} ({{dates.order.time}})</p>

{{#if delivered}}
<p>DA {{dates.delivery.date}} ({{dates.delivery.time}})</p>
{{else}}
<p>EDD {{dates.delivery.date}} ({{dates.delivery.time}})</p>
{{/if}}


<a href="/orders/{{_id}}">Link</a>