<div style="background-color: {{color}}">
    <h5>{{name}}</h5>
    <h6>{{price}}$</h6>
    <p>{{score}} star/s ({{voters}})</p>
    <a href="/products/{{id}}">Link</a>

    {{> addToCart product=id store=store.id }}
</div>