<h4>{{name}}</h4>
<p>Price: {{price}}$</p>
<p>Color: {{color}}</p>
<p>Discount: {{discount}}%</p>
<p>Manufacturer: {{manufacturer}}</p>

<p>{{#if score}}{{score}}star/s ({{voters}}){{else}}not rated{{/if}} </p>
<a href="/products/{{id}}">Link</a>