{{> dashboardSidenav}}

<h1>Total Orders</h1>
<p>{{carts.length}}</p>
<h1>Total Income</h1>
<p>{{income}}</p>
<h1>Top Selling</h1>

{{#each aggregation}}
<p>{{product.name}}</p>
<p>discount: {{product.discount}}</p>
<p>revenue: {{revenue}}</p>
<p>sold: {{sold}}</p>
<p>base price: {{price}}</p>
{{/each}}