{{> dashboardSidenav}}

<h1>Total Sold Units</h1>
<p>{{stats.sold}}</p>
<h1>Total Revenue</h1>
<p>{{stats.revenue}}</p>
<h1>Top Selling</h1>

{{#each products}}
<p>{{product.name}}</p>
<p>discount: {{product.discount}}</p>
<p>revenue: {{revenue}}</p>
<p>sold: {{sold}}</p>
<p>base price: {{price}}</p>
{{/each}}