{{> dashboardSidenav}}

<h1>Total Sold Units</h1>
<p>{{totals.sold}}</p>

<h1>Total Revenue</h1>
<p>{{totals.revenue}} ({{totals.simpleRevenue}})</p>

<h1>Products</h1>

{{#each statistics}}
<h5>{{product.name}}</h5>
<p>price: {{price}}</p>
<p>sold: {{sold}}</p>
<p>revenue: {{revenue}} ({{simpleRevenue}})</p>
<p>Created At: {{createdAt}}</p>
{{/each}}