<h2>Cart</h2>

<button>Remove all</button>

{{#each cart}}
{{!-- <pre>
    {{this}}
</pre> --}}
<div>
    <h3>{{product.name}}</h3>
    <h4>{{product.category}}</h4>
    <p>Price: {{product.price}}</p>
    <p>Color: {{product.color}}</p>
    <p>Amount: {{amount}}</p>

    <a href="/stores/{{store.username}}">Seller: {{store.name}}</a>
    <button>Delete</button>
</div>
{{/each}}

<button>Order Now</button>