<h2>Cart</h2>

<button id="delete-all" {{#unless cart}} disabled {{/unless}}>Clear your cart</button>

{{#each cart}}
<div class="product-card">
    <pre>{{this}}</pre>
    {{> altProductCard product}}
    {{!-- <h3>{{product.name}}</h3>
    <h4>{{product.category}}</h4>
    <p>Price: {{product.price}}</p>
    <p>Color: {{product.color}}</p>
    <form>
        <label for="amount">Amount</label>
        <input type="text" name="product-id" value="{{product.id}}">
        <input type="text" id="amount" name="amount" value="{{amount}}" readonly>
        <small class="error amount"></small>
        <button class="patch-amount" name="increase">Add + </button>
        <button class="patch-amount" name="decrease">Subtract - </button>
    </form>

    <a href="/stores/{{store.username}}">Seller: {{store.name}}</a>
    <form>
        <input type="text" name="product-id" value="{{product.id}}">
        <button class="delete-single-product">Delete</button>
    </form> --}}
</div>
{{/each}}

<button>Order Now</button>

<script src="/user/cart.js"></script>