<h1>Order #</h1>

<pre>{{order}}</pre>

<h3>Ordered at {{dates.order.date}} ({{dates.order.time}})</h3>
{{#if order.delivered}}
<h3>Delivered at {{dates.delivery.date}} ({{dates.delivery.time}})</h3>
{{else}}
<h3>Expected to be delivered at {{dates.delivery.date}} ({{dates.delivery.time}})</h3>
{{/if}}

{{#each order.carts as |cart|}}
<div class="product-card">
    <p>amount: {{amount}}</p>
    {{> productCard cart.product}}
</div>
{{/each}}