<h1>{{product.name}}</h1>
<p>category: {{product.category}}</p>
<p>manufacturer: {{product.manufacturer}}</p>
<p>rate: {{product.score}}</p>
<p>rate count: {{product.ratings.length}}</p>
<p>{{product.description}}</p>

{{#each product.ratings}}
<p>{{comment}}</p>
{{/each}}

{{#if User}}
<button>Add to cart</button>
{{/if}}