<h1>{{product.name}}</h1>
<h2>{{product.price}}$</h2>
<p>category: {{product.category}}</p>
<p>manufacturer: {{product.manufacturer}}</p>
<p>score: {{product.score}}</p>
<p>voters count: {{product.voters}}</p>
<p>description: {{product.description}}</p>

<h3>Comments</h3>
{{#each product.ratings}}
<p>{{user.name}}: </p>
<p>{{comment}}</p>
{{/each}}

{{#if User}}
<button>Add to cart</button>
{{/if}}